{% extends 'base.html' %}
{% block content %}
<div class="pagetitle">
    <h1>Drill and Blast KPI Management</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Drill and Blast KPI</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">

    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">
                <!-- Recent Sales -->
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">

                        <div class="card-body">
                            <h5 class="card-title"> Drill and Blast KPI <span>| KPI </span></h5>
                            {% if error %}
                            <!-- <span class="bg bg-danger text-white">{{ error}}</span> -->
                            <div class="bg bg-danger"><span class="text-white">{{ error}}</span></div>
                            {% endif %}

                            {% if msg %}
                            <div class="bg bg-success"><span class="text-white">{{ msg}}</span></div>
                            {% endif %}
                            <br>
                            <a href="#" class="btn btn-info btn-sm text-white" data-bs-toggle="modal"
                                data-bs-target="#verticalyWastecentered">Add KPI</a>



                            <table class="table  datatable">
                                <thead>
                                    <tr>

                                        <th scope="col">#</th>
                                        <th scope="col">Blasted Volume</th>
                                        <th scope="col">Number of Days Required to Deplete the Material</th>
                                        <th scope="col">Actual Volume Moved Per Day</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in drill %}
                                    <tr>
                                        <th scope="row">{{ data[0] }}</th>
                                        <td>{{ data[1] }}</td>
                                        <td>{{ data[2] }}</td>
                                        <td>{{ data[3] }}</td>

                                    </tr>

                                    {% endfor %}

                                    

                                </tbody>
                            </table>

                        </div>

                    </div>
                </div><!-- End Recent Sales -->


                <!-- Vertically centered Modal -->
                <div class="modal fade" id="verticalyWastecentered" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Drill and Blask KPI</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="card-body">
                                    <h5 class="card-title">Drill and Blast KPI</h5>

                                    <!-- make, model, year -->
                                    <!-- Vertical Form -->
                                    <form class="row g-3" method="post" action="/drillblast">
                                        <div class="col-12">
                                            <label for="blastedVolume" class="form-label">Blasted Volume</label>
                                            <input type="text" class="form-control" id="blastedVolume"
                                                name="blastedVolume">
                                        </div>

                                        <div class="col-12">
                                            <label for="numberOfDaysRequired" class="form-label">Number Of Days Required
                                                for Blasted Material to be Depleted </label>
                                            <input type="text" class="form-control" id="numberOfDaysRequired"
                                                name="numberOfDaysRequired">
                                        </div>

                                        <div class="col-12">
                                            <label for="actual_volumeMovedPayDay" class="form-label">Actual Volume Moved
                                                in a Day</label>
                                            <input type="number" class="form-control" id="actual_volumeMovedPayDay"
                                                name="actual_volumeMovedPayDay">
                                        </div>

                                        <button type="submit" class="btn btn-info">Save changes</button>
                                    </form><!-- Vertical Form -->

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div><!-- End Vertically centered Modal-->

            </div>
        </div><!-- End Left side columns -->

        <script>
            function update() {
                var getMorning = document.getElementsByName("Morning");
                var getAfternoon = document.getElementsByName("Afternoon");

                document.getElementById("target").value = getAfternoon + getMorning;
                console.log(getAfternoon)
                console.log(getMorning)
            }
        </script>



    </div>
</section>


{% endblock %}