{% extends 'base.html' %}
{% block content %}
<div class="pagetitle">
  <h1>Load and Haul Management</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active">Shift Management</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">

    <!-- Left side columns -->
    <div class="col-lg-8">
      <div class="row">
        <!-- Recent Sales -->
        <div class="col-12">
          <div class="card recent-sales overflow-auto">        
            <div class="card-body">
              <h5 class="card-title">Edit Shift</h5>

                  {% if error %}
                      <span class="bg bg-danger">{{ error}}</span>
                  {% endif %}

                  {% if msg %}
                  <span class="bg bg-success">{{ msg}}</span>
              {% endif %}
             
            
                  <form class="row g-3" method="post" action="/shift/edit/{{shift_edit[0][0]}}">
                    <div class="col-12">
                      <label for="equip" class="form-label">Morning</label>
                      <input type="hidden" class="form-control" value="{{ shift_edit[0][0]}}" id="sid" name="sid">
                      <input type="number" class="form-control" value="{{ shift_edit[0][1]}}" id="Morning" name="Morning">
                    </div>

                    <div class="col-12">
                        <label for="equip" class="form-label">Afternoon</label>
                        <input type="number" class="form-control" value="{{ shift_edit[0][2] }}" id="Afternoon" name="Afternoon">
                      </div>
                    <div class="col-12">
                      <label for="model" class="form-label">Target</label>
                      <input type="text" class="form-control" value="{{ shift_edit[0][3]}}" id="target" name="target">
                    </div>

                    <div class="col-12">
                        <label for="model" class="form-label">Total</label>
                        <input type="text" class="form-control" value="{{ shift_edit[0][4]}}" disabled id="total" name="total">
                      </div>
                
                    <button type="submit" class="btn btn-warning">Save changes</button>
                  </form><!-- Vertical Form -->
              
            </div>

          </div>
        </div><!-- End Recent Sales -->


        <!-- Vertically centered Modal -->
        <div class="modal fade" id="verticalycentered" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Create Shift Data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="card-body">
                  <h5 class="card-title">Shift</h5>

                  <!-- make, model, year -->

                  
                  
                  <!-- Vertical Form -->
                  <form class="row g-3" method="post" action="/shift">
                    <div class="col-12">
                      <label for="equip" class="form-label">Morning</label>
                      <input type="number" class="form-control"  id="Morning" name="Morning">
                    </div>

                    <div class="col-12">
                        <label for="equip" class="form-label">Afternoon</label>
                        <input type="number" class="form-control"  id="Afternoon" name="Afternoon">
                      </div>
                    <div class="col-12">
                      <label for="model" class="form-label">Target</label>
                      <input type="text" class="form-control" id="target" name="target">
                    </div>
                
                    <button type="submit" class="btn btn-warning">Save changes</button>
                  </form><!-- Vertical Form -->

                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

              </div>
            </div>
          </div>
        </div><!-- End Vertically centered Modal-->

      </div>
    </div><!-- End Left side columns -->

 
  </div>
</section>


{% endblock %}